body{
    background-color: grey;
}

#countLabel{
    display: block;
    text-align: center;
    color: white;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;

}

#btncontainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(8, 49, 60);
    border-radius: 5px;
    cursor: pointer;
    transition: backgroudcolor 0.3s;
}

.buttons:hover{
    background-color: rgba(171, 132, 207, 0.678);
}
